/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

/* Body Styling */
body {
    background-color: #e0d1bc; /* Soft beige */
    color: #6c4c24; /* Dark brown */
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Styling */
header {
    background-color: #e6bf96; /* Light tan */
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #a27c58;
}

header h1 {
    font-size: 2.5rem;
    color: #765532;
    margin-bottom: 10px;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #5c4c3c;
    text-decoration: none;
    margin: 0 15px;z
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #826645;
}

/* Section Styling */
section {
    padding: 40px 20px;
    w
